<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<p>
  We show a picture using <a href='http://www.gravatar.com'>Gravatar</a>. To
  modify the image, login with the email you use with stokd and make the desired
  changes.
</p>
