
<html>
  <body>
    <div id="main-container" class="container">
      <div class="row">
	<div id="sidebar" class="col-xs-3">
	  <!-- sidebar content -->
	  Hello World
	</div>
	<div id="content" class="col-xs-9">
	  <!--  main content -->
	  <h1> Welcome to the events organizer </h1>
	</div>
      </div>
    </div>
  </body>
</html>
