<div class="media">
  <div class="media-left media-top">
    <a href="#">
      <img class="media-object" src="holder.js/64x64" alt="placeholder">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= link_to event.title, event %></h4>
    <%= event.description %>
  </div>
</div>
